* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html body {
    height: 100%;
    background-color: lightslategray
}

body {
    font-size: 16px;
}

/*home page*/
header {
    overflow: hidden;
    background-color: aliceblue;
    padding: 20px 10px;
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    font-size: 14px;
    line-height: 15px;
    width: 100%;
}

.header-right {
    float: right;
    font-size: 13px;
}

.viewhighscores {
    float: left;
    font-weight: bold;
    font-size: 17px;
}

main {
    text-align: center;
}

h1 {
    text-align: center;
    color: blue;
    font-family: sans-serif;
}

.intro p {
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    line-height: 1;
}

button#start {
    width: 80%;
    height: 110%;
    background-color: rgb(26, 77, 189);
    border-radius: 15px;
    border-color: white;
    color: whitesmoke;
}

button#start:hover {
    color:white;
    background-color: lightskyblue;
}

/*question screen*/
.question-page{
  display: flex;
  align-items: center;
  justify-content: center;
}

button#A {
    margin-bottom:10px;
}

button#B {
    margin-bottom:10px;
}
button#C {
    margin-bottom:10px;
}
button#D {
    margin-bottom:10px;
}

div.questions-div {
    margin-top: 10px;
}

.question p {
    margin-right: 10px;
    font-size: 18px;
    font-weight:bold;
}

div#wrong {
    color: rgb(105, 13, 13);
    font-size: 30px;

}

div#correct {
    color: rgb(58, 112, 58);
    font-size: 30px;
    font-weight: bold;
}

/*end of quiz screen*/
div.end-quiz {
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(105, 13, 13);
}

#initials {
    text-align: center;
}

button#submit {
    background-color: rgb(71, 128, 175);
    color: white;
}

/*scores display Screen*/
.mainscreen {
    float: left;
    font-weight: bold;
    font-size: 17px;
}

.scores-display {
    font-size: 30px;
    color: rgb(36, 77, 36);
    text-align: center;
}

p#top5 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    
}
.hide {
    display: none;
}

input#submit {
    background-color: rgb(53, 153, 187);
    border-radius: 15px;
    padding:5px;
    color: white;
}




