* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html body {
    height: 100%;
    background-color: lightslategray
}

body {
    font-size: 16px;
}

/*home page*/
header {
    overflow: hidden;
    background-color: aliceblue;
    padding: 20px 10px;
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    font-size: 14px;
    line-height: 15px;
    width: 100%;
}

.header-right {
    float: right;
    font-size: 13px;
}

.viewhighscores {
    float: left;
    font-weight: bold;
    font-size: 17px;
}

main {
    text-align: center;
}

h1 {
    text-align: center;
    color: blue;
    font-family: sans-serif;
}

.intro p {
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    line-height: 1;
}

/*start button*/
button#start {
    width: 30%;
    background-color: whitesmoke;
    border-radius: 3px;
}

button#start:hover {
    color:white;
    background-color: lightskyblue;
}

/*question screen*/
.question-page{
  display: flex;
  align-items: center;
  justify-content: center;
}

div.questions-div {
    margin-top: 10px;
}

.question p {
    margin-right: 10px;
    font-size: 18px;
    font-weight:bold;
}

button#option1 {
    background-color: white;
    width: 100%;
    color: black;
    height: 40px;
    border-color: darkblue;
}

button#option2 {
    background-color: white;
    width: 100%;
    color:black;
    height: 40px;
    border-color: darkblue;
}

button#option3 {
    background-color:white;
    border-radius: 10%;
    color: black;
    width: 100%;
    height: 40px;
    border-color: darkblue;
}

button#option4 {
    background-color: white;
    width: 100%;
    color:black;
    height: 40px;
    border-color: darkblue;
}

button#option1:hover {
    background-color: blue;
    color: white;
}

button#option2:hover {
    background-color: blue;
    color: white;
}

button#option3:hover {
    background-color: blue;
    color: white;
}

button#option4:hover {
    background-color: blue;
    color: white;
}

div#wrong {
    color: rgb(105, 13, 13);
    font-size: 30px;

}

div#correct {
    color: rgb(58, 112, 58);
    font-size: 30px;
    font-weight: bold;
}

/*end of quiz screen*/
.end-quiz {
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(105, 13, 13);
}

.hide {
    display: none;
}


